.idea
.vscode
*.pyc
*.log
*/build
*.so
*.pstat
*.egg-info
*.swp
*DS_Store
*~
*.autosave
tags

# CLion artifacts
cdcpd/build
cdcpd/install
cdcpd/CMakeCache.txt
cdcpd/CMakeFiles/
cdcpd/CTestTestfile.cmake
cdcpd/DartConfiguration.tcl
cdcpd/Makefile
cdcpd/cdcpd-config.cmake
cdcpd/cdcpd.cbp
cdcpd/cmake_install.cmake
cdcpd/tests/CMakeFiles/
cdcpd/tests/CTestTestfile.cmake
cdcpd/tests/Makefile
cdcpd/tests/cmake_install.cmake

.qglviewer.xml

# Vim Ctags file
cdcpd_ros/tags

# CLion artifacts
cdcpd_ros/cmake-build-debug

cdcpd_ros/src/cpd_physics/
