
# CLion artifacts
# Compiled python files
# Vim Ctags file
# editor temporary files
*.autosave
*.egg-info
*.log
*.pstat
*.pyc
*.so
*.swp
*/build
*DS_Store
*~
.idea
.vscode
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
build
cdcpd-config.cmake
cdcpd.cbp
cmake-build-debug
cmake_install.cmake
install
tags
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
cdcpd_test
